<!DOCTYPE html>
<html>
<head>
    <title>High Prediction</title>
</head>
<body>
    <h2>Predict High Value</h2>
    <form action="/predict" method="post">
        <label for="open">Open:</label>
        <input type="text" id="open" name="open"><br><br>
        
        <label for="low">Low:</label>
        <input type="text" id="low" name="low"><br><br>
        
        <label for="close">Close:</label>
        <input type="text" id="close" name="close"><br><br>
        
        <label for="adj_close">Adj Close:</label>
        <input type="text" id="adj_close" name="adj_close"><br><br>
        
        <label for="volume">Volume:</label>
        <input type="text" id="volume" name="volume"><br><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>
